.acc_outliner {
  max-width: 30rem;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: auto;
  padding: 0.5rem;
}

.acc_button,
.acc_purple {
  color: white;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: $xs-radius;
  font-weight: 500;
  font-size: $s-size;
  padding-bottom: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
}

.acc_purple {
  background-color: $button-blue;
}
.acc_red {
  background-color: $button-red;
}

.acc_button:hover {
  color: black;
  transition: all 0.3s linear;
}
