.bh_hover_button {
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: $s-radius;
  padding-bottom: 0.2rem;
  background-color: $off-black;
  color:$orange;
  font-size: $s-size;
  font-weight: 700;
  transition: all 0.2s linear;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.bh_hover_button:hover {
  color: $off-black;
  background-color: $orange;
}
