.header_outliner {
  display: flex;
  justify-content:center;
  // justify-content:space-around;
  background-color:$background;
  border-radius: $s-radius;
  max-width: 35rem;
  height: 2.5rem;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.4rem;
  padding-top: 0rem;
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
  padding-right: 0.8rem;
}

.header_link{
  margin: 0.4rem;
}



