.groups_table {
  width: 25rem;
  font-family: monospace;
  font-size: $m-size;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.1rem;
  color: rgb(233, 233, 233);
  background-color: black;
  border-spacing: 1px;
  border-radius: 4px;
}

.groups_title-header{
  font-size: 20px;
  height: 3rem;
}
.groups_bold-field {
  font-weight: 600;
  height: 2.7rem;
}




