// Colors

$off-black: #1a1919;
$blue: rgb(14,102,255);
$light-blue: aliceblue;
$background: rgb(241, 240, 235);
$grey-text: rgb(110, 110, 110);
$orange:rgb(255, 153, 0);

// Spacing and font height (factor:1.25) //------> switch to 1.15
$xxs-size: 0.8rem;
$xs-size: 1.02rem;
$s-size: 1.28rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 2.5rem;
$xxl-size: 3.1rem;

// Corners
$s-radius: 0.5rem;
$m-radius: 1rem;
