// Colors

$off-black: #1a1919;
$off-white: white;
$blue: rgb(14,102,255);
$light-blue: aliceblue;
$background: rgb(241, 240, 235);
$grey-text: rgb(90, 90, 90);
$light-grey-text: rgb(110, 110, 110);
$orange:rgb(255, 153, 0);
$pink:rgb(251,72,169);
$purple:rgb(63,81,181);//purple account button

// Spacing and font height (factor:1.2)
$xxs-size: 1.0rem;
$xs-size: 1.2rem;
$s-size: 1.4rem;
$s-size: 1.4rem;
$m-size: 1.7rem;
$l-size: 2.1rem;
$xl-size: 2.5rem;
$xxl-size: 3.0rem;

// Corners
$s-radius: 0.5rem;
$m-radius: 1rem;
